@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto',sans-serif;
}
body{
    background: rgb(128,191,191);
background: linear-gradient(90deg, rgba(128,191,191,1) 0%, rgba(118,215,221,1) 4%, rgba(216,244,242,1) 100%);
}
header{
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}
header::after{
    content: '';
    display: inline-block;
    position: absolute;
    top: 1rem;
    right: 1rem;
    width: 2rem;
    height: 2rem;
    background-image: url(../img/header.svg);
    background-repeat: no-repeat;
    background-size: contain;
}
header .foto{
    width: 200px;
    height: 200px;
    border-radius: 50%;
}
header .titulo{
    text-align: center;
}
.informacao{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
}
.informacao p{
   display: flex;
   flex-direction: row;
   align-items: center;
   margin: 0.5rem;
   font-size: 1.2rem;
}
.informacao p a{
    margin-left: 5px;
}
.informacao p::before{
    content: '';
    display: inline-block;
    width: 1rem;
    height: 1rem;
    margin-right: .5rem;
}
.informacao .job::before{
    background-image: url(../img/job.svg);
}
.informacao .localidade::before{
 background-image: url(../img/location.svg);
}
.informacao .email::before{
    background-image: url(../img/email.svg);
}
.informacao .fone::before{
    background-image: url(../img/phone.svg);
}
a{
    color: black;
    text-decoration: none;
}
a:hover{
    text-decoration: underline;
}
.janela{
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 1rem;
    border: 1px solid #FFF;
    border-radius: 1rem;
    transition:  0.25;
}
.janela.open,
.janela:hover{
    background-color: rgb(238, 217, 238);
    border-color: rgb(17, 17, 17);
}
.janela .abrir{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    font-size: 1.5rem;
    font-weight: 700;
    padding: 1rem 2rem;
    background-color: transparent;
    color: #FFF;
    border: none;
}
.janela .abrir h2{
    margin: 0;
    font-size: 1.5rem;
    text-align: start;
}
.janela .abrir:hover{
    cursor: pointer;
}
.janela .abrir::after{
    content: '';
    display: inline-block;
    width: 2.5rem;
    height: 1.5rem;
    background-image: url('../img/arrow-top.svg');
    background-repeat: no-repeat;
    background-size: cover;
    transition: 0.25s;
    
}
.janela.open .abrir::after{
    transform: rotate(180deg);
}
.janela .conteudo{
   height: 0;
   opacity: 0;
   transition: opacity 0.25s ease-in-out;
   overflow:hidden;
}
.janela.open .conteudo{
    display: block;
    padding: 0 1rem 1rem 2rem;
    height: auto;
    opacity: 1;
}
.skills{
    display: flex;
    flex-direction: column;
}

.skills .ferramentas ul{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
    list-style: none;
}
#hardSkills li img {
    width: 100px;
}
.skills .ferramentas ul li img{
    max-width: 100px;
    max-height: 100px;
    margin: 0 0.5rem;
}
.skills .pessoal ul li {
    margin-left: 2rem;
    padding: 0.5rem;
}
.experiencia{
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    list-style: none;
}
.experiencia li {
    margin-bottom: 1rem;
}
.idiomas{
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
    list-style: none;
}
.idiomas li {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-right: 1rem;
    font-weight: 700;
}
.idiomas li::before{
    content: '';
    display: inline-block;
    width: 1rem;
    height: 1rem;
    background-image: url(../img/check.svg);
    background-repeat: no-repeat;
    background-size: contain;
    margin-right: 0.5rem;
}
.portifolio{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 100%;
    margin: 0;
    padding: 0;
    list-style: none;
}
.portifolio li{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin: 1rem 0;
}
.portifolio li h3{
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 1.25rem;
    font-weight: 700;
    margin: 0;
    margin-bottom: 0.5rem;
}
.portifolio li h3.github::before{
    content: '';
    display: inline-block;
    width: 1rem;
    height: 1rem;
    background-image: url(../img/github.svg);
    background-repeat: no-repeat;
    background-size: contain;
    margin-right: 0.5rem;
}
.main{
    margin: 1rem;
    padding: 1rem;
    border: 2px solid #030303;
    border-radius: 1rem;
}
.main::before,
.main::after{
    content: '';
    display: inline-block;
    position: fixed;
    top: 0;
    left: 0;
    width: 140vw;
    height: 100vh;
    z-index: -1;}
@media screen and (min-width:760px){
    header{
        display: grid;
        grid-template-areas: 
        "foto titulo"
        "foto informacao"
        ;
    }
    header .foto{
        grid-area: foto;
        margin: 0 auto;
    }
    header .titulo{
        grid-area: titulo;
        text-align: center;
        max-width: 210px;
    }
    header .informacao{
        grid-area: informacao;
    }
    .main{
        max-width: 1024px;
        margin: 1rem auto;
    }
    .main::before,
    .main::after{
        width: 70vw;
    }
    .skills{
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
}
